/.venv/
/.idea
/__pycache__/


/API key for GEMINI.txt
/main.py

/.env
/Lessons/Les_05/article_from_LANCET.pdf
/Lessons/Les_08/ffmpeg-7.1.1/
/Lessons/Les_08/Image20250528121349.png
/Homeworks/HW_07/advices_from_gpt_task2.md
